
.groupsStyle {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
}

.groupsStyle td, .groupsStyle th {
    border: 1px solid #ddd;
    padding: 8px;
}

.groupsStyle tr:nth-child(even){background-color: #f2f2f2;}

.groupsStyle tr:hover {background-color: #ddd;}

.groupsStyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #246c6e;
    color: white;
}

.do-not-remove .remove-button {
    display: none
}

.remove-button {
    background-color: #2e8a8d; /* Green */
    border: none;
    color: #ffffff;
    margin-left: 80px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.get-users-button {
    background-color: #2e8a8d; /* Green */
    border: none;
    color: #ffffff;
    margin-left: 65px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}